@mixin bp($point) {
  
  $bp-alpha: "(min-width: 30rem)";
  $bp-beta: "(min-width: 39rem)";
  $bp-gamma: "(min-width: 44rem)";
  $bp-delta: "(min-width: 49rem)";

  @if $point == alpha {
    @media #{$bp-alpha} { @content; }
  }
  @else if $point == beta {
    @media #{$bp-beta} { @content; }
  }
  @else if $point == gamma {
    @media #{$bp-gamma} { @content; }
  }
  @else if $point == delta {
    @media #{$bp-delta}  { @content; }
  }

}