// Grid Variables

$pad: 1rem;

// Color Variables

$off-teal: #477b96;
$dark-teal: #2d5668;
$dark-gray: #444;
$light-gray: rgb(51, 51, 51);
$very-light-gray: rgb(153, 153, 153);
$charcoal: rgb(85, 85, 85);